.depth-7-frame-019 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-linen);
  align-self: stretch;
  height: 37px;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  font-family: var(--font-epilogue);
  font-weight: 500;
  font-size: var(--font-size-sm);
  color: var(--color-gray);
  min-width: 165px;
}
.list-your-business {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
  min-width: 125px;
}
.depth-7-frame-15,
.depth-8-frame-08,
.depth-9-frame-03 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-7-frame-15 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.events {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
  min-width: 46px;
}
.depth-7-frame-2,
.depth-8-frame-09,
.depth-9-frame-04 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-7-frame-2 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.groups {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
  min-width: 51px;
}
.depth-7-frame-3,
.depth-8-frame-010,
.depth-9-frame-05 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-7-frame-3 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.services {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
}
.depth-8-frame-011,
.depth-9-frame-06 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-014,
.depth-6-frame-16,
.depth-7-frame-4 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.depth-7-frame-4 {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.depth-5-frame-014,
.depth-6-frame-16 {
  flex-direction: column;
  align-items: flex-start;
}
.depth-6-frame-16 {
  gap: var(--gap-5xs);
}
.depth-5-frame-014 {
  padding: 0 0 var(--padding-base);
}
.log-in1 {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  font-family: var(--font-epilogue);
  color: var(--color-gray);
  text-align: left;
  min-width: 43px;
  white-space: nowrap;
}
.depth-8-frame-012 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-021,
.depth-7-frame-020 {
  background-color: var(--color-chocolate);
  overflow: hidden;
  display: flex;
}
.depth-7-frame-020 {
  cursor: pointer;
  border: 0;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-021 {
  align-self: stretch;
  border-radius: var(--br-xs);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs-5) var(--padding-xl);
}
.depth-5-frame-15 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
}
.depth-3-frame-03,
.depth-4-frame-06,
.depth-5-frame-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.depth-4-frame-06 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-snow);
  justify-content: space-between;
  padding: var(--padding-base);
}
.depth-3-frame-03 {
  height: 760px;
  width: 307px;
  justify-content: flex-start;
}
.find-what-you {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -1.19px;
  line-height: 45px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.depth-7-frame-021 {
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.depth-6-frame-022,
.depth-7-frame-021 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.search-for-restaurants {
  position: relative;
  line-height: 24px;
}
.depth-7-frame-022 {
  align-self: stretch;
  flex-direction: column;
}
.depth-5-frame-015,
.depth-6-frame-17,
.depth-7-frame-022,
.search-and-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-17 {
  align-self: stretch;
  flex-direction: column;
  font-size: var(--font-size-base);
  color: var(--color-sienna);
}
.depth-5-frame-015,
.search-and-icon {
  max-width: 100%;
}
.depth-5-frame-015 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.search-and-icon {
  width: 433.4px;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.depth-8-frame-013,
.empty-state-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-8-frame-013 {
  width: 19.5px;
  height: 19.5px;
}
.depth-7-frame-023 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-6-frame-023,
.depth-6-frame-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-18 {
  width: calc(100% - 56px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 24px;
  flex: 1;
  font-family: var(--font-epilogue);
  font-size: var(--font-size-base);
  color: var(--color-sienna);
  min-width: 300px;
  max-width: 100%;
}
.depth-4-frame-13,
.depth-5-frame-016 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.depth-5-frame-016 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-linen);
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap-xs);
}
.depth-4-frame-13 {
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.open-now {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-weight: 500;
  font-family: var(--font-epilogue);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  min-width: 69px;
}
.depth-6-frame-024,
.depth-7-frame-024 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-017 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs-5) var(--padding-base);
  background-color: var(--color-linen);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.good-for-kids {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-weight: 500;
  font-family: var(--font-epilogue);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  min-width: 93px;
  white-space: nowrap;
}
.depth-6-frame-025,
.depth-7-frame-025 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-16 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs-5) var(--padding-base);
  background-color: var(--color-linen);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.offers-takeout {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-weight: 500;
  font-family: var(--font-epilogue);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  min-width: 103px;
  white-space: nowrap;
}
.depth-6-frame-026,
.depth-7-frame-026 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-21 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs-5) var(--padding-base);
  background-color: var(--color-linen);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.outdoor-seating {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-weight: 500;
  font-family: var(--font-epilogue);
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  min-width: 114px;
}
.depth-6-frame-027,
.depth-7-frame-027 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-32 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs-5) var(--padding-base);
  background-color: var(--color-linen);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.accepts-credit-cards {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-weight: 500;
  font-family: var(--font-epilogue);
  color: var(--color-gray);
  text-align: left;
}
.depth-6-frame-028,
.depth-7-frame-028 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-41 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs-5) var(--padding-base);
  background-color: var(--color-linen);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wheelchair-accessible {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  white-space: nowrap;
}
.depth-6-frame-029,
.depth-7-frame-029 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-7-frame-029 {
  align-self: stretch;
}
.depth-6-frame-029 {
  flex: 1;
}
.depth-5-frame-51 {
  width: 190.6px;
  border-radius: var(--br-xs);
  background-color: var(--color-linen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-5) var(--padding-base);
  box-sizing: border-box;
  flex-shrink: 0;
}
.categories-and-icons,
.depth-4-frame-22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-4-frame-22 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-xs);
  gap: var(--gap-xs);
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.categories-and-icons {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-smi-4);
  min-width: 109px;
}
.depth-7-frame-030 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.depth-6-frame-030 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 94.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.grocery {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.depth-7-frame-031,
.grocery {
  align-self: stretch;
}
.depth-5-frame-17,
.depth-6-frame-19,
.depth-7-frame-031,
.listing-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-19 {
  align-self: stretch;
  padding: 0 0 var(--padding-xs);
}
.depth-5-frame-17,
.listing-container {
  flex: 1;
  gap: var(--gap-xs);
  min-width: 109px;
}
.listing-container {
  flex-direction: row;
  gap: var(--gap-xs-8);
  min-width: 226px;
  max-width: 100%;
}
.depth-7-frame-032 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.depth-6-frame-031 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.delivery {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.delivery,
.depth-7-frame-033 {
  align-self: stretch;
}
.depth-5-frame-22,
.depth-6-frame-110,
.depth-7-frame-033 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-110 {
  align-self: stretch;
  padding: 0 0 var(--padding-xs);
}
.depth-5-frame-22 {
  height: 142.6px;
  width: 168.2px;
  gap: var(--gap-xs);
}
.depth-4-frame-1-group,
.depth-4-frame-32,
.search-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-4-frame-32 {
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-base) var(--padding-base-8) var(--padding-base-6)
    var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-smi-1);
  flex-shrink: 0;
  debug_commit: 1de1738;
  font-size: var(--font-size-base);
}
.depth-4-frame-1-group,
.search-container {
  flex-direction: column;
}
.depth-4-frame-1-group {
  font-size: var(--font-size-sm);
}
.search-container {
  gap: var(--gap-base);
}
.depth-0-frame-03,
.search-container-wrapper {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: left;
  color: var(--color-gray);
  font-family: var(--font-epilogue);
}
.search-container-wrapper {
  flex-direction: column;
  padding: var(--padding-base) 0 0;
  max-width: calc(100% - 311px);
  font-size: var(--font-size-17xl);
}
.depth-0-frame-03 {
  background-color: var(--color-snow);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-5xl);
  gap: var(--gap-9xs);
  max-width: 100%;
  font-size: var(--font-size-sm);
}
@media screen and (max-width: 825px) {
  .depth-3-frame-03 {
    display: none;
  }
  .find-what-you {
    font-size: var(--font-size-10xl);
    line-height: 36px;
  }
  .search-container-wrapper {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .find-what-you {
    font-size: var(--font-size-3xl);
    line-height: 27px;
  }
  .listing-container {
    flex-wrap: wrap;
  }
}
